/*reglas
selectores
declaraciones
propiedades 
valores */

/*Gris oscuro = #1d252c*/
/*Gris claro = #626262*/
/*Background gris  = #1b2127*/

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?nvjqiu');
  src:  url('../fonts/icomoon.eot?nvjqiu#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?nvjqiu') format('truetype'),
    url('../fonts/icomoon.woff?nvjqiu') format('woff'),
    url('../fonts/icomoon.svg?nvjqiu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e900";
  color: #1877f2;
}
.icon-github:before {
  content: "\e901";
}
.icon-instagram:before {
  content: "\e902";
  color: #e4405f;
}
.icon-latex:before {
  content: "\e903";
  color: #008080;
}
.icon-menu:before {
  content: "\e9bd";
}

/* selector de etiqueta: nombre de la etiqueta */
body{
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0px;
}
figure {
  margin: 0;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Fjalla One',sans-serif;
  /* tipo de fuente */
  font-weight: normal;
  /* separacion entre letras */
  /* letter-spacing: -.2px; */
}
h1{
  /* asigna tamaño a las fuentes */
  font-size: 40px;
  /* cambia el alto de linea */
  line-height: 1.5;
  /* espacio entre letras */
  letter-spacing: -.2px;
  /* transformar la sletras en mayuscula o menisculas */
  /* text-transform: uppercase; */
  /* decoracion de texto */
  /* text-decoration: dashed; */
  color: white;
  /* margin: 100px 150px 700x 30px;  */
  margin: 0;
}

h1 strong{
  color: #026fff;
}
h2{
  color: #026fff;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
}
ol, ul {
margin: 0;
padding: 0;
list-style: none;
}


/* selector descendente: elemento hijo de algun otro elemento*/
body header div nav ol li a {

}

/* selector de clase */
.hero{
  height: 300px;
  /* background-image: url('../images/hero.jpg'); */
  background-color: #1b2127;
  /* background-size: 500px 300px; */
  /* para que no se repita la imagen de fondo */
  /* background-repeat: no-repeat; */
  /* background-position-x: right ; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.hero-image{
  object-fit: cover;
}
.portfolio{
  background: #fafafa;
  padding: 20px;
}
.project{
  /* border-top: 10px solid red;
  border-right:10px solid green;
  border-left:10px solid orange;
  border-bottom:10px solid purple; */
  border: 1px solid grey;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 20px;
  background:white;
  /* box-sizing: border-box; */
  display: flex;
  align-items: center ;
  justify-content: space-between;
  flex-wrap: wrap;

}
.project-course, .project-date, .project-url{
  margin: 10px 0;
}
.project-description{
  font-size: 20px;
}
.project strong{
  font-family: 'Fjalla One',sans-serif;
}
.project-title{
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 0;
}
.project-details{
  width: 50%;
  
}
.project-imageConteiner{
  width: 50%;
}

.project-imageConteiner img{
  max-width: 100%;
}

/* .project-date{
  margin: 10px 0 ;
} */

.header {
  background-color: #1b2127;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px; 
  flex-wrap: wrap;
}


.header a { /* .header a hereda de .header ol li */
  color: white;
  text-decoration: none;
  height: inherit;
  display: flex;
  align-items: center;
  padding: 0 10px; 
}  
.menu { /* .menu hereda de .header */
  height: inherit;
}
.header ol { /* .header ol hereda de .menu */
  display: flex;
  height: inherit;
}


.header ol li { /* .header ol li hereda de .header ol */
  height: inherit;
}

.footer{
    color: white;
    background-color: #1b2127;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer img {
    vertical-align: middle;
}
.footer a{
    color: white;
}
.event-list{
  display: flex;
  flex-wrap: wrap;

}
.event-list-title{
  margin-left: 20px;
}
.event{
  margin: 1px;
  width: 48%;
  flex-shrink: 0;
  border-radius: 10px;
  /* cuando un evento se desborde se oculta */
  overflow: hidden;
  background-color: #f4fbff;
}
.event img {
  width: 480px;
  height: 200px;
  /* funciona para que no se vea fea la imagen */
  object-fit: cover; 
}

.event-detail{
  margin: 20px 40px;
  margin-top: -40px;
  background-color: white;
  /* sobre pone las cosas */
  position: relative;
  padding: 20px;
  text-align: center;
}
.event-descriptione{
  text-align: left;
}
.event-url{
 border: 1px solid #056fff;
 padding: 5px 20px;
 text-decoration: none;
 color: #056fff;
 border-radius: 5px;

}
.contac{
  background-color: #056fff;
  color:white;
  height: 150px;
  /* alineado vertical con display flex y  align-items center */
  display: flex;
  align-items: center ;
  /* alineado horizontal con justify-content */
  justify-content: space-between ;
  flex-wrap: wrap;
}
.portafolio-title{
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.social{
    /* border:1px solid red; */
}
.social-links{
    display: inline-block;
    width: 50px;
    height: 50px;
    /* border:1px solid white; */
    background-size: 50px 50px ;
    margin:0 10px;
}
.social-links.twiter{
  background-image: url('../images/twitter.svg');
 
}
.social-links.github{
  background-image: url('../images/github.svg');
}

.social-links.facebook{
  background-image: url('../images/facebook.svg');
  
}
.social-links.instagram{
  background-image: url('../images/instagram.svg');
}
.form-email input{
  border-color: grey;
  padding: 10px 20px 10px 25px;
  border-style: solid;
  border-radius: 5px;
  background-image: url('../images/envelope.svg');
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x:5px ;
}
.form-email button{
    display: block;
    margin-top: 10px;
    background: transparent;
    color: white;
    padding: 10px 0;
    width: 100px;
    margin-top: 10px;
    /* margin: 10px auto 0; */
    border-radius: 5px;
}
.form-email h3{
  font-family: 'Source Sans Pro', sans-serif;
}
.container{
    max-width: 1000px;
    flex: 1;
    margin: 0 auto;
    /* heredamos datos de las demas clases */
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}
/* github facebook instagram */
/* selector de id */
#portafoleo{
}
/* empezar con la media query mas grande */
/* medidas estandar 1024,768,480,320 */

.html-video{
  width: 100%;
  height: auto;
}
.youtube-video{
 /* para hacer que la imagen se estire*/
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.flexible-video{
  position: relative;
  height: 0;
  width: 100%;
  padding-top:56.25%;
  background: blue;
}

.burguer-buttom{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0,0,0,.5);
  display: none;
  line-height: 40px;
  text-align: center;
  position: fixed;
  z-index: 4;
  left: 5px;
  top: 5px;
  color: white;
}

@media screen and (max-width:1023px){
  .event-list-title{
    margin-left: 0;
  }

  .portfolio{
    padding: 0;
  }

  .container{
    padding: 0 1em;
  }

  .hero{
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 2em;
  }

  h1{
    font-size: 2em;
    z-index: 2;
  }

  .hero-image{
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
  }

  .html-video{
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width:767px){

  h2{
    font-size: 1.2em;
    margin: .5em 0;
  }

  .burguer-buttom{
    display: block;
  }
  
  .header{
    display: block;
    height: auto;
  }

  .header ol{
    display: initial;
  }

  .header ol li {
    height: 50px;
  }

  .header a {
    justify-content: center;
    height: 40px;
    font-size: 2em;
    text-decoration: underline;
    margin-bottom: .5em;
  }

  .header .logo{
    text-align: center;
  }

  .menu{
    position: fixed;
    background: rgba(5, 111, 255,0.9);
    z-index: 3;
    top: 0;
    left: -100vw;
    width: 100vw;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: .3s;
  }

  .menu.is-active{
    left: 0;
  }

  .project{
    display: block;
  }

  .project-imageConteiner{
    width: auto;
    text-align: center;
  }

  .project-details{
    width: auto;
  }

  .project-details{
    width: auto;
    /*font-size:10px;*/
  }
  .project-course, .project-date, .project-url{
    margin: .3em 0;
  }

  .project-title{
    font-size: 1.5em;
    margin-bottom: .3em;
  }

  .project-url{
    font-size: 1em;
  }

  .project-date{
    font-size: 1em;
  }
  .project-course{
    font-size: 1.7em;

  }

  .project-description{
    font-size: 1em;
  }

  .event{
    width: auto;
    flex-shrink: initial;
  }

  .event img{
    width: 100%;
  }

}

@media screen and (max-width:480px){
  h1{
    font-size: 1.5em;
  }
  
  .project-details{
    width: auto;
    font-size: 14px;
  }

  .event-detail{
    margin: 2em .5em .5em;
    padding: 1em;
  }

  .contac{
    height: auto;
    padding: 1.5em 0;
    text-align: center;
    display: block;
  }

  .form-email button{
    margin: 1em auto;
  }

  .form-email h3{
    margin-top: 0;
  }

  .footer{
    display: block;
    text-align: center;
    border:1px solid transparent;
  }

  .social-links{
    width: 40px;
    height: 40px;
    background-size: 100%;
  }
}

@media screen and (max-width:320px){
  h1{
    font-size: 1.2em;
  }

  .hero{
    padding: 2em 1em;
  }
}

